// https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4041567.jpg&f=1&nofb=1&ipt=18445b79bbb2c0f9c4b98c98dd83e88424ac79daf3b1721f6d802f092d369b4b&ipo=images

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: rgb(157, 0, 255);

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 1.5rem;
  }

  .login_container {
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    width: 35%;

    label {
      margin: 5px 0;
      text-transform: capitalize;
      font-size: 17px;
      color: var(--primary-color);
    }

    input {
      outline: 0;
      border: 2px solid gray;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 1rem;
      padding: 15px;
      font-size: 15px;
    }

    .form_btn {
      margin-bottom: 2rem;
    }

    .bottom {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      span {
        margin-bottom: 1rem;

        .link {
          color: var(--primary-color);

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .login_container {
      width: 60%;
      padding: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    .login_container {
      width: 90%;
      padding: 1rem;
    }
  }
}
