.withdraw {
  display: flex;
  align-items: flex-start;

  .withdraw_container {
    flex: 6;

    .content {
      width: 1005;
      padding: 5rem 1rem 1rem 1rem;

      .balance_info {
        span {
          color: var(--primary-color);
        }

        h1 {
          font-size: 3rem;
          font-weight: 600;
        }
      }

      .middle {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        .left {
          flex: 1;
          background: var(--white);
          padding: 1rem;
          border-radius: 5px;

          h3 {
            margin-bottom: 1.5rem;
            font-size: 2rem;
          }

          label {
            text-transform: capitalize;
            font-size: 17px;
            color: var(--primary-color);
          }

          input {
            outline: 0;
            border: 2px solid gray;
            width: 100%;
            border-radius: 5px;
            margin: 0.5rem 0 1rem 0;
            padding: 15px;
            font-size: 15px;
            background: transparent;
          }
        }

        #cellphoneNumber {
          width: 100%;
          padding: 8px;
          margin-top: 8px;
          font-size: 16px;
          border: 3px solid #ccc;
          border-radius: 10px;
          box-sizing: border-box;
        }

        .right {
          flex: 1;
          background: var(--white);
          padding: 1rem;
          border-radius: 5px;

          .form_btn:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }

          .success-message {
            margin-top: 20px;
            color: #009944;
            font-size: 16px;
            text-align: center;
          }

          .error-message {
            margin-top: 20px;
            color: #ff002b;
            font-size: 16px;
            text-align: center;
          }

          // .dropdown-container {
          //   margin: 20px;
          // }

          // .dropdown option:checked {
          //   background-color: #e0e0e0;
          //   color: #333;
          // }

          .dropdown_container {
            margin-bottom: 2rem;

            span {
              color: var(--primary-color);
              font-size: 17px;
            }

            .dropdown {
              margin-top: 7px;
              padding: 8px;
              font-size: 16px;
              border: 1px solid #ccc;
              border-radius: 4px;
              width: 200px;
              outline: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .dropdown_container {
      .dropdown {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .middle {
      flex-direction: column;

      .left,
      .right {
        width: 100%;
      }
    }
  }
}
