.reset {
    display: flex;
    align-items: flex-start;
  
    .reset_container {
      flex: 6;
  
      .content {
        padding: 5rem 2rem 2rem 2rem;
        .form {
          background: var(--white);
          padding: 1rem;
          width: 70%;
  
          @media screen and (max-width: 700px) {
            width: 100%;
          }
          .div_space{
            padding-top: 90px;
          }
          div {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
  
            label {
              text-transform: capitalize;
              font-size: 17px;
              color: var(--primary-color);
            }
  
            input {
              outline: 0;
              border: 2px solid gray;
              width: 100%;
              border-radius: 5px;
              margin: 0.5rem 0 1rem 0;
              padding: 15px;
              font-size: 15px;
              background: transparent;
            }
          }
  
          .form_btn {
            border: 0;
            outline: 0;
            font-size: 1.3rem;
          }
          .form_btn:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
  
          .success-message {
            margin-top: 20px;
            color: #009944;
            font-size: 16px;
            text-align: center;
          }
  
          .error-message {
            margin-top: 20px;
            color: #ff002b;
            font-size: 16px;
            text-align: center;
          }
  
        }
      }
    }
  }
  