.profile {
  display: flex;
  align-items: flex-start;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .loading-spinner {
    font-size: 2em;
    color: #ffffff;
  }

  .profile_container {
    flex: 6;

    @media screen and (max-width: 700px) {
      padding-bottom: 5rem;
    }

    .top {
      width: 70%;
      display: flex;
      align-items: flex-start;
      padding: 5rem 2rem 2rem 2rem;
      gap: 2rem;

      @media screen and (max-width: 700px) {
        padding: 5rem 1rem 1rem 1rem;
      }

      .user_info {
        flex: 1;
        background: var(--white);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        padding: 1rem;

        .text {
          span {
            color: var(--primary-color);
            font-size: 15px;
          }

          .text_item {
            font-size: 20px;
            margin-bottom: 1rem;
          }
        }

        .profile_pic {
          img {
            width: 10rem;
          }
        }
      }

      .account_info {
        flex: 1;
        background: var(--white);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        padding: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
          color: var(--primary-color);
          font-size: 15px;
        }

        .balance {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        .form_btn {
          text-decoration: none;
          text-align: center;
          margin-bottom: 7px;
        }
.form_btn_delete {
  text-decoration: none;
  text-align: center;
  color:red;
  margin-bottom: 7px;
  display: flex;
  justify-content: flex-end; 
}

      }
    }

    .form_btn {
      text-decoration: none;
      padding: 0.6rem;
      margin: 0 2rem 1rem 2rem;
    }

    .form_btn_delete {
      text-decoration: none;
      padding: 0.6rem;
      margin: 0 2rem 1rem 2rem;
    }

    .activity {
      padding: 2rem;
      background: var(--white);
      margin: 2rem 2rem 1rem 2rem;
      height: 47vh;
      overflow-y: scroll;

      span {
        color: var(--primary-color);
        font-size: 15px;
        margin-bottom: 2rem;
      }

      table {
        width: 100%;

        th {
          padding: 1rem 7px;
          text-align: start;
          padding-left: 1rem;

          @media screen and (max-width: 700px) {
            padding: 7px 4px;
          }
        }

        tbody {
          tr {
            // &.success {
            //   background: rgba(0, 255, 0, 0.452);
            // }
            &.fail {
              background: rgba(255, 0, 0, 0.452);
            }
            td {
              &#title {
                width: 20%;
                padding: 1rem;
                font-size: 17px;
                font-weight: bold;
                border-radius: 5px 0 0 5px;
              }
              &#body {
                width: 60%;
                padding: 1rem 2rem;
                font-size: 15px;
                color: rgb(60, 59, 59);
              }
              &#time {
                width: 20%;
                border-radius: 0 5px 5px 0;
                padding-left: 1rem;
                font-size: 14px;
              }

              @media screen and (max-width: 1000px) {
                &#title {
                  width: 40%;
                  padding: 7px;
                }
                &#body {
                  width: 10%;
                }
                &#time {
                  width: 40%;
                }
              }

              @media screen and (max-width: 700px) {
                &#title {
                  width: 25%;
                  padding: 0.7rem;
                  font-size: 15px;
                }
                &#body {
                  width: 50%;
                  padding: 0.7rem;
                }
                &#time {
                  width: 40%;
                  padding: 0.7rem;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 700px) {
        margin: 2rem 1rem 1rem 1rem;
        padding: 1rem;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .profile_container {
      .top {
        width: 100%;

        .user_info {
          flex: 2;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .top {
      flex-direction: column;
      gap: 1rem;

      .user_info,
      .account_info {
        width: 100%;

        // .profile_pic {
        //   img {
        //     width: 1rem;
        //   }
        // }
      }
    }
  }
}
