.home {
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;

  .home_container {
    flex: 6;
    padding-bottom: 3rem;

    .content {
      padding: 5rem 0 1rem 0;

      .games_slider  {
        width: 100%;
        margin: 0 auto;
        padding: 0.6rem 3rem;
        display: flex;
        align-items: center;

                @media screen and (max-width: 1500px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 900px) {
          padding: 0.6rem 10px;
        }

        @media screen and (max-width: 1000px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 700px) {
          padding: 0.6rem 10px;
        }

        .div {
          width: 1500px;
        //   @media screen and (max-width: 1000px) {
         //    width: 900px;
        //   }
        //   @media screen and (max-width: 700px) {
        //     width: 600px;
       //    }
        }
        .game_box {
          padding: 0 1rem;
          @media screen and (max-width: 900px) {
            padding: 0 0.5rem;
          }

          padding: 0 1rem;
          @media screen and (max-width: 1000px) {
            padding: 0 0.5rem;
          }
          
          img {
            border-radius: 10px;
            width: 20rem;
            height: 15rem;

                        @media screen and (max-width: 900px) {
              width: 100%;
              height: 15rem;
            }

            @media screen and (max-width: 700px) {
              width: 100%;
              height: 15rem;
            }
          }

          .title {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: bold;
          }

          // .form_btn {
          //   width: 50%;
          // }
        }
      }
    }
    .aviator_image
      {
        padding: 0 1rem;
        @media screen and (max-width: 900px) {
          padding: 0 0.5rem;
        }

        padding: 0 1rem;
        @media screen and (max-width: 700px) {
          padding: 0 0.5rem;
        }

        padding: 0 1rem;
        @media screen and (max-width: 1000px) {
          padding: 0 0.5rem;
        }
        
        img {
          border-radius: 10px;
          width: 20rem;
          height: 15rem;

                      @media screen and (max-width: 900px) {
            width: 100%;
            height: 15rem;
          }

          @media screen and (max-width: 600px) {
            width: 100%;
            height: 15rem;
          }

          @media screen and (max-width: 700px) {
            width: 100%;
            height: 15rem;
          }

          @media screen and (max-width: 800px) {
            width: 100%;
            height: 15rem;
          }
        }

       

    }
  }
}
