$primaryColor: #3498db;
$secondaryColor: #ecf0f1;

.coming-soon-container {
  display: flex;
  height: 100vh;
  background-color: $secondaryColor;

  .coming-soon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 700px) {
      width: 70%;
    }

    h1 {
      color: $primaryColor;
      font-size: 2.5em;
    }

    p {
      color: $primaryColor;
      font-size: 1.2em;
      text-align: center;
      max-width: 400px;
      margin-top: 20px;

      @media screen and (min-width: 700px) {
        width: 70%;
      }
    }

    .loading-spinner {
      border: 4px solid rgba($primaryColor, 0.3);
      border-top: 4px solid $primaryColor;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
      margin-top: 20px;

      @media screen and (min-width: 700px) {
        width: 70%;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
