body {
    background-color: #003C25;
    color: #F7F8F7;
  }
  
  .board {
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px #000503;
    background-color: #F7F8F7;
    color: #003C25;
  }
  
  .btn {
    color: #003C25;
  }
  
  .empty:hover {
    background-color: #71AA94;
  }
  
  td {
    border: 2px solid #000503;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
  }
  
  .board-area {
    display: none;
  }
  
  .message-area {
    margin: 0 auto;
    text-align: center;
    display: none;
  }
  
  .selection-area {
    text-align: center;
  }
  
  .main {
    bottom: 0;
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    font-family: 'Righteous', cursive;
  }
  