$primaryColor: #3498db;
$secondaryColor: #ecf0f1;

.forex {
  display: flex;
  align-items: flex-start;

  .forex_container {
    flex: 6;
    padding: 6rem 0;

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      padding: 1rem;

      @media screen and (max-width: 700px) {
        width: 100%;
      }
      

      h1 {
        color: $primaryColor;
        font-size: 3.5em;
      }

      p {
        color: $primaryColor;
        font-size: 1.2em;
        text-align: center;
        max-width: 400px;
        margin-top: 20px;
      }

      .loading-spinner {
        width: 3rem;
        height: 3rem;
        margin-top: 2rem;
        border-radius: 50%;
        border: 5px solid rgba($primaryColor, 0.3);
        border-top: 5px solid $primaryColor;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
.forex-chart-canvas {

  @media screen and (max-width: 700px) {
    padding: 0.5rem;
    align-items: center;
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    padding-left: 0; 
  }
}
.deposit_form {
  width: 50%;
  background: var(--white);
  padding: 1rem;
  border-radius: 5px;

  @media screen and (max-width: 1000px) {
    width: 70%;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
  }

  h3 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  label {
    text-transform: capitalize;
    font-size: 17px;
    color: var(--primary-color);
  }

  input {
    outline: 0;
    border: 2px solid gray;
    width: 100%;
    border-radius: 5px;
    margin: 0.5rem 0 1rem 0;
    padding: 15px;
    font-size: 15px;
    background: transparent;
  }

  .form_btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .cash-out-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .success-message {
    margin-top: 20px;
    color: #009944;
    font-size: 16px;
    text-align: center;
  }

  .error-message {
    margin-top: 20px;
    color: #ff002b;
    font-size: 16px;
    text-align: center;
  }
}
.activity {
      padding: 2rem;
      background: var(--white);
      margin: 2rem 2rem 1rem 2rem;
      height: 47vh;
      overflow-y: scroll;

      span {
        color: var(--primary-color);
        font-size: 15px;
        margin-bottom: 2rem;
      }

      table {
        width: 100%;

        th {
          padding: 1rem 7px;
          text-align: start;
          padding-left: 1rem;

          @media screen and (max-width: 700px) {
            padding: 7px 4px;
          }
        }

        tbody {
          tr {
          
            &.fail {
              background: rgba(255, 0, 0, 0.452);
            }
            td {
              &#title {
                width: 20%;
                padding: 1rem;
                font-size: 17px;
                font-weight: bold;
                border-radius: 5px 0 0 5px;
              }
              &#body {
                width: 60%;
                padding: 1rem 2rem;
                font-size: 15px;
                color: rgb(60, 59, 59);
              }
              &#time {
                width: 20%;
                border-radius: 0 5px 5px 0;
                padding-left: 1rem;
                font-size: 14px;
              }

              @media screen and (max-width: 1000px) {
                &#title {
                  width: 40%;
                  padding: 7px;
                }
                &#body {
                  width: 10%;
                }
                &#time {
                  width: 40%;
                }
              }

              @media screen and (max-width: 700px) {
                &#title {
                  width: 25%;
                  padding: 0.7rem;
                  font-size: 15px;
                }
                &#body {
                  width: 50%;
                  padding: 0.7rem;
                }
                &#time {
                  width: 40%;
                  padding: 0.7rem;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 700px) {
        margin: 2rem 1rem 1rem 1rem;
        padding: 1rem;
      }
    }
