* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.error-message{
  color : red;
}

.typing {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
}

:root {
  --primary-color: rgb(157, 0, 255);

  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;

  h1 {
    font-size: 1.5rem;
  }

  .form_container {
    background: white;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    width: 35%;

    label {
      margin: 5px 0;
      text-transform: capitalize;
      font-size: 17px;
      color: var(--primary-color);
    }

    input {
      outline: 0;
      border: 2px solid gray;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 1rem;
      padding: 15px;
      font-size: 15px;
    }

    .btn {
      width: 100%;
      border-radius: 35px 0px 35px;
      color: white;
      background: var(--primary-color);
      margin-bottom: 2rem;
    }

    .bottom {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      span {
        margin-bottom: 1rem;

        .link {
          color: var(--primary-color);

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .form_container {
      width: 60%;
      padding: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    .form_container {
      width: 90%;
      padding: 1rem;
    }
  }
}
