.chatbot-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.chat-messages {
  list-style-type: none;
  padding: 10px;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 15px;
  flex-grow: 1;
  overflow-y: scroll;
  touch-action: pan-y; /* Enable vertical swiping */

  @media screen and (max-width: 1000px) {
    max-width: 600px; /* Use max-width for responsiveness */
  }

  @media screen and (max-width: 700px) {
    max-width: 400px; /* Adjust as needed for smaller screens */
  }

  li {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
    width: fit-content; /* Adjust as needed */
    word-wrap: break-word;

    &.user-message {
      background: var(--primary-color);
      color: #fff;
      align-self: flex-end;
       border-radius:30px;
      align-items: flex-end;
    }

    &.bot-message {
      background-color: #e0e0e0;
      color: #333;
      align-self: flex-start;
      border-radius:30px;
    }
  }
}

.user-input {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  align-items: center; /* Center the input and button */

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  .user_msg {
    flex-grow: 1;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
  }

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
  }
}
